.game-header {
  @apply flex flex-row justify-center gap-3 items-center mt-5;
}

.game_titles {
  @apply text-gray-600 p-2.5 text-center border border-gray-400 rounded-md;
  font-size: clamp(24px, 5vw, 40px);
}

.game_round {
  @apply text-orange-600;
}

.round {
  @apply max-w-[210px] w-full
}

.time {
  @apply max-w-[310px] w-full
}

.game_time {
  @apply text-orange-600;
}

.game-board {
  @apply grid grid-cols-4 grid-rows-4 gap-2.5 justify-items-center items-center max-w-lg mx-auto p-2.5;
}

@media (max-width: 768px) {
  .game_titles {
    font-size: clamp(20px, 5vw, 36px);
  }
}

@media (max-width: 450px) {
  .game_titles {
    font-size: clamp(16px, 5vw, 30px);
  }
}
