.slab {
  @apply w-full h-full aspect-square m-0 flex justify-center items-center cursor-pointer transition-transform duration-500;
  transform-style: preserve-3d;
}

.slab-front,
.slab-back {
  @apply absolute top-0 left-0 w-full h-full flex justify-center items-center rounded-md;
  font-size: clamp(10px, 10vw, 100px);
  backface-visibility: hidden;
}

.slab-front {
  @apply text-gray-400 border border-gray-400;
  transform: rotateY(0deg);
}

.slab-back {
  @apply bg-gray-200 text-gray-400;
  transform: rotateY(180deg);
}

.slab.flipped {
  transform: rotateY(180deg);
}
